.register-container {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.shutterstock.com/image-photo/empty-stage-theater-lit-by-600nw-2393513399.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.register-card {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.register-card input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.register-card button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4b7bec;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-card button:hover {
  background-color: #3867d6;
}

.register-error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
